/* HomeNav.css */



.navbar.home-dashboard-nav {
    background: linear-gradient(270deg, rgb(149, 135, 175), rgb(200, 196, 209), rgb(255, 255, 255));
}

.navbar.home-dashboard-nav .navbar-brand,
.navbar.home-dashboard-nav .nav-link {
    color: #282629;  
}

.navbar.home-dashboard-nav .navbar-toggler-icon {
    background-color: #EEEEEE;  
}


